button{
  padding: 10px 0px 15px 0px;
  justify-content: space-arround;
  // outline: none;
  border: 1px solid;
  background: transparent;
  color: #839496;
  border-color: #839496;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)

}
