@font-face {
  font-family: 'Nunito', 'Lato';
  src: url('https://fonts.googleapis.com/css?family=Nunito|Lato');
}

html, body{
  font-family: 'Nunito', 'Lato',sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
#app{
  height: inherit;
}
*::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #839496;
  border-radius: 25px;
}
// *::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     background-color: rgba(0, 0, 0, 0.3);
// }
