.noteListContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 25%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  background: #073642;
  color: #839496;
  font-weight: 500;
  padding: 10px 25px;
  overflow: auto;
}
