.note{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  width: 75%;
  margin: 10px;
  padding: 10px;
}

.note::selection{
  color: #073642;
  background-color: #fff;
  outline: none;
}
.note textarea{
  display: flex;
  width: 100%;
  height: 90%;
  overflow: auto;
  color: #839496;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  resize: none;
}
